* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --text-color--black-gray: #575d5e;
    --text-color--light-gray: #7d8188;
    --black-color: #000;
    --white-color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ====== Common ====== */
.container {
    width: 1140px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 172px;
    height: 56px;
    border-radius: 40px;
    border: 1.5px solid var(--primary-color);

    background: var(--primary-color);
    color: var(--white-color);

    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;

    transition: 0.25s;
}

.btn:hover {
    color: var(--md-primary-color);
    background-color: var(--white-color);
}

.header-sticky {
    position: sticky;
    left: 0;
    right: 0;
    top: -14px;
    z-index: 4;
}
/* ==== Header ==== */
.header {
    font-family: "Public Sans", sans-serif;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    background-color: var(--white-color);

    padding: 28px 0 14px;
}

.header-wrapper::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    content: "";
    width: 1140px;
    height: 1px;

    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.header__logo {
    margin-right: 406px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.header__nav-item-link {
    color: var(--text-color--light-gray);

    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.header__nav-item-link:hover:not(.header__nav-item-link--active) {
    color: var(--black-color);
}

.header__nav-item-link--active {
    position: relative;

    color: var(--black-color);

    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.header__nav-item-link--active::after {
    position: absolute;
    left: 0;
    bottom: -31px;

    content: "";
    width: 16px;
    height: 2px;

    background-color: var(--primary-color);
}

.header__sign-up {
    margin-left: 88px;
}

/* ==== Hero ==== */
.hero {
    min-height: calc(100vh - 98px);

    overflow: hidden;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 76px;

    position: relative;

    padding-top: 60px;
}

.hero__img-pos-1 {
    position: absolute;
    top: 36px;
    left: 255px;
    z-index: 2;
}

.hero__img-pos-2 {
    position: absolute;
    top: 35px;
    left: 301px;
    z-index: 2;
}

.hero__img-pos-3 {
    position: absolute;
    top: 562px;
    right: 34px;
    z-index: 2;
}

.hero__img-pos-4 {
    position: absolute;
    top: 323px;
    right: 80px;
    z-index: 2;
}

.hero__bg-blur-color {
    position: absolute;
    top: 182px;
    right: 176px;

    width: 340px;
    height: 340px;
    border-radius: 340px;

    background: #4dbb9a;

    filter: blur(137px);
}

.hero__heading {
    margin-top: 44px;
    width: 368px;
    bottom: 52px;

    font-family: inherit;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;

    color: var(--black-color);
}

.hero__desc {
    margin-top: 20px;
    width: 341px;

    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;

    color: var(--text-color--black-gray);
}

.hero__cta {
    display: flex;
    align-items: center;
    column-gap: 36px;

    margin-top: 42px;
}

.hero-play-btn {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero-play-btn__wrapper {
    display: flex;
    align-items: center;

    transition: 0.25s;
}

.hero-play-btn__wrapper:hover {
    transform: rotate(180deg);
}

.hero-play-btn__link:hover {
    text-decoration: underline;
}

.hero-play-btn-icon__img {
    width: 44px;
    height: 44px;
    margin-left: -20px;
}

.hero-play-btn__link {
    color: var(--black-color);

    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media-list {
    display: flex;
    column-gap: 20px;
}

.hero__media-item:nth-child(2) {
    margin-top: 78px;
}

.hero__media-img {
    position: relative;
    z-index: 1;

    display: inline-block;

    width: 202px;
    height: 466px;
    border-radius: 110px;

    object-fit: cover;
}

/* ==== Banner ==== */
.banner {
    padding: 42px 0 53px;
}

.banner-wrapper {
    padding: 76px 0;
    border-radius: 999px;

    background-color: #e2eddf;
}

.banner__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner__item-link {
    display: flex;
    align-items: center;
    column-gap: 6px;

    color: var(--primary-color);

    font-size: 3.2rem;
    font-weight: 500;
}

.banner__item-link:hover {
    opacity: 0.8;
}
